*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.header{
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    background-color: white;
}

.header h1{
    font-weight: 700;
    font-size: 50px;
    color: green;
}

.header p{
    font-weight: 400;
    font-size: 35px;
    color: green;
}

.header div{
    display: flex;
    justify-content: space-between;
}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
    padding: 1rem 1.5rem;
    border-radius: 40px;
}

.navbar{
    display: flex;
    gap: 20px;
    list-style: none;
}

.navbar li:hover{
    transform: scale(1.1);
}

.navbar li a{
    text-decoration: none;
    font-size: 1.25rem;
    color: black;
    font-weight: 800;
    gap: 20px;
}

nav #toggle, nav label{
    display: none;
}

main{
    padding: 20px;
}

.publicidad-dermocosmetica{
    width: 100%;
    height: 18.75rem;
}

.dermocosmetica{
    width: 100%;
    height: 100%;
}

.products-container{
    display: flex;
    justify-content: center;
    gap: 1.25rem;
    height: 600px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container-card{
    width: 300px;
    height: 450px;
    text-align: center;
    border-radius: .625rem;
    overflow: hidden;
    box-shadow: 1px 1px 5px black;
    background-color: white;
}

.container-card div{
    width: 100%;
    height: 60%;
}

.container-card div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-card .btn{
    font-weight: 700;
    padding: 9px 25px;
    background: white;
    border: 1px solid orange;
    border-radius: 50px;
}

.container-card .btn:hover{
    background-color: white;
    color: black;
    transform: scale(1.1);
}

footer{
    background-color: grey;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 1.25rem;
    padding-top: 20px;
}

footer div iframe{
    width: 200px;
    height: 200px;
}

.mapa-grande{
    width: 100%;
    padding-bottom: 20px;
    padding-top: 10px;
}

.foto-ubicacion{
    width: 100%;
    height: 350px;
}
.productos-bebe{
    width: 100%;
    height: 100%;
}

.foto-personal{
width: 100%;
height: 400px;
}
.los4{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.texto-quienes{
    font-size: 25px;
}

.farmacia-2{
width: 50%;
height: 100%;
object-fit: cover;
}

.imagenes{
    width: 100%;
    height: 400px;
    display: flex;
    gap: .3125rem;
}
.farmacia-3{
width: 50%;
height: 100%;
object-fit: cover;
}

.farmacia{
    width: 100%;
}

.btn{
    font-weight: 700;
    padding: 9px 25px;
    background: white;
    border: 1px solid orange;
    border-radius: 50px;
}

.btn{
    background-color: white;
    color: black;
    transform: scale(1.1);
}

@media(max-width: 768px){ 
    nav .menu{
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    nav .navbar{
        flex-direction: column;
        align-items: center;
        padding: 0.5rem 0;
    }
    nav label{
        display: inline-flex;
        color: black;
    }
    nav #toggle:checked ~.menu{
        height: 100%;
    }
    .publicidad-dermocosmetica{
        width: 100%;
        height: 200px;
    }
    .dermocosmetica{
        width: 100%;
        height: 100%;
    }
    footer{
        background-color: grey;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 1.25rem;
    }
    .texto-quienes{
        font-size: 20px;
    }
    .encontranos-mapa{
        width: 100%;
        height: 400px;
    }
}

@media(max-width: 426px){
    .publicidad-dermocosmetica{
        width: 100%;
        height: 150px;
    }
    .dermocosmetica{
        width: 100%;
        height: 100%;
    }
    footer{
        background-color: grey;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .products-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.25rem;
        height: auto;
        padding-top: 20px;
    }
    .texto-quienes{
        font-size: 15px;
    }
    .imagenes{
        width: 100%;
        height: 200px;
        display: flex;
        gap: 1.25rem;
        padding-bottom: 20px;
    }
    .farmacia-3{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .farmacia-2{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .encontranos-mapa{
        width: 100%;
        height: 400px;
        padding-bottom: 20px;
    }
}


@media(max-width: 376px){
    .imagenes{
        width: 100%;
        height: 200px;
        display: flex;
        gap: 1.25rem;
        padding-bottom: 20px;
    }
    .farmacia-3{
        width: 50%;
        height: 100%;
        object-fit: cover;
    }
    .farmacia-2{
        width: 50%;
        height: 100%;
        object-fit: cover;
    }
}

@media(max-width: 321px){
    .products-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.25rem;
        width: 100%;
        height: auto;
        padding-top: 20px;
    }
    .publicidad-dermocosmetica{
        width: 100%;
        height: 100px;
    }
    .dermocosmetica{
        width: 100%;
        height: 100%;
    }
    footer{
        background-color: grey;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .imagenes{
        width: 100%;
        height: 200px;
        display: flex;
        gap: 1.25rem;
        padding-bottom: 20px;
    }
    .farmacia-3{
        width: 50%;
        height: 100%;
        object-fit: cover;
    }
    .farmacia-2{
        width: 50%;
        height: 100%;
        object-fit: cover;
    }
    .foto-personal{
        width: 100%;
        height: 350px;
        text-align: center;
        justify-content: center;
        }
    .los4{
            width: 100%;
            height: 100%;
            object-fit: cover;
    }
    .texto-quienes{
        font-size: 12px;
    }
}