main{
    .publicidad-dermocosmetica{
        width: 100%;
        height: 18.75rem;
        .dermocosmetica{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}