main{
    .encontranos-mapa{
        .mapa-grande{
            width: 100%;
            padding-bottom: 20px;
            padding-top: 10px;
        }
    }
    .foto-ubicacion{
        width: 100%;
        height: 350px;
        .productos-bebe{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}